<%- include('partial/head') %>

  <body>
    <%- include('partial/navbar') %>
      <h1>Browsing subreddit: <%= name %>
      </h1>
      <h2>
        <%= description %>
      </h2>
      <p>Subscribers: <%= subscribers%>
      </p>
      <hr>
      <hr>

      <% for(let post of posts) { %>
        <article>
          <% if(post.img) {%>
            <img src=<%=post.img %> alt=<%= name %> >
              <% } %>
                <p>
                  <b>Title:</b>
                  <%= post.title %>
                </p>
                <p>
                  <b>Author</b>
                  <%= post.author %>
                </p>
                <hr>
                <% } %>
        </article>

  </body>

  </html>